    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Open Sans'}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Open Sans'; min-height: 14.0px}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Open Sans'; color: #dca10d}
    span.s1 {color: #000000}
    span.s2 {color: #000000}
    span.s3 {color: #000000}
    span.s4 {font: 12.0px '.Apple SD Gothic NeoI'; color: #dca10d}
    span.s5 {color: #000000}