<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- png favicon--> 
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- --> 


/*<style type="text/css">*/
	p.emphtext{
  font-size: 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

<!--
    body {
        margin: 0;
        padding: 0;
-webkit-text-size-adjust:none;
    }
    //-->
	iframe {
	    margin: 0px;
	    padding: 0px;
	    background: white;
	    border: none;
	}
/*</style>
<style type="text/css">*/
  
	:root{
	    --font-color: #000000;
	    --bg-color: #ffffff;
		--lva-color:dimgray;
		--hov-color:darkgray;
		--wing-color:#EFEFEF;
	  }
	 
	  
  a:link {text-decoration: none; color: var(--lva-color);}
  a:visited {text-decoration: none; color: var(--lva-color); }
  a:active {text-decoration: none;  color: var(--lva-color);}
  a:hover {text-decoration: underline; color: var(--hov-color);}
  body{background-color: var(--wing-color)}
  
/*</style>
<style type="text/css">*/

#title {font-weight:bold; font-size:300%; font-family:Open Sans;  text-align: center;}


/*small screen / light mode setup*/
@media screen and (max-width: 1000px) and (prefers-color-scheme: light){
	body{background: var(--bg-color);
    color: var(--font-color);}
#titlecontent {width:100%; font-family:Open Sans; text-align: center; font-weight: 500; margin: 0; padding: 0;}
#lastcenter {width:100%; text-align:center; margin: 0; padding: 0;}
#center {font-size:10pt; width:90%; background-color:var(--bg-color); font-family:Open Sans; padding-top:5px;padding-right:10px; padding-bottom:5px; padding-left:10px; margin:0 auto; }
}

/*big screen / light mode setup*/		
@media screen and (min-width: 1000px) and (prefers-color-scheme: light){
    body{background-color: var(--wing-color);
      color: var(--font-color);
    }
#center {font-size:10pt; width:900px; background-color:var(--bg-color); font-family:Open Sans; padding-top:5px;padding-right:10px; padding-bottom:5px; padding-left:10px; margin:0 auto; }
}


/*small screen / dark mode setup*/
@media screen and (max-width: 1000px) and (prefers-color-scheme:dark){
 :root{
    --font-color: #ffffff;
    --bg-color: #000000;
	--lva-color:darkgray;
	--hov-color:dimgray;
	--wing-color:#2e313d;
	--rel-width:90%;
  }
	body{background: var(--wing-color);
    color: var(--font-color);}
#titlecontent {width:100%; font-family:Open Sans; text-align: center; font-weight: 500; margin: 0; padding: 0;}
#lastcenter {width:100%; text-align:center; margin: 0; padding: 0;}
#center {font-size:10pt; width:90%; background-color:var(--bg-color); font-family:Open Sans; padding-top:5px;padding-right:10px; padding-bottom:5px; padding-left:10px; margin:0 auto; }
#floating_menu {position: fixed; top: 0px; left: 50%; transform: translateX(-50%); height:50px;width:90%; text-align:center;  background-color:var(--bg-color); font-family:Open Sans;font-size:10pt; padding-top:0px;padding-right:10px; padding-bottom:0px; padding-left:10px; margin:0 auto;}
}


/*big screen / dark mode setup*/
@media screen and (min-width: 1000px) and (prefers-color-scheme:dark){
 :root{
    --font-color: #ffffff;
    --bg-color: #000000;
	--lva-color:#B6B6B6;
	--hov-color:dimgray;
	--wing-color:#2e313d;
	--rel-width:900px;
  }
    body{background-color: var(--wing-color);
      color: var(--font-color);
    }
#center {font-size:10pt; width:900px; background-color:var(--bg-color); font-family:Open Sans; padding-top:5px;padding-right:10px; padding-bottom:5px; padding-left:10px; margin:0 auto; }
#floating_menu {position: fixed; top: 0px; left: 50%; transform: translateX(-50%); height:25px; width:900px; text-align:center;  background-color:white; font-family:Open Sans;font-size:10pt; padding-top:0px;padding-right:10px; padding-bottom:0px; padding-left:10px; margin:0 auto;overflow: hidden;background-color:var(--bg-color);font-weight: bold;}
#text222{position: fixed; top: 0px; left: 50%; transform: translateX(-50%); height:25px; width:900px; text-align:center;  background-color:gray; font-family:Open Sans;font-size:10pt; padding-top:0px;padding-right:10px; padding-bottom:0px; padding-left:10px; margin:0 auto;overflow: hidden;}
}
#last {width:100%; text-align:center;}

.explain_paper {font-weight:normal;font-size:90%;}
.cvitemize { font-size:110%; font-weight: bold;}
.cvitem { font-weight: bold; font-family:Open Sans;}
.cvperiod { float:right; font-family:Open Sans; font-style:italic;}
.cvitemcontent { }
.anchor_inpage { padding-top: 0px; }
/*.bouncing-text {
  position: relative;
  display: flex;
  font-size: 10px; font-size:100%;
  font-family: Open Sans; font-weight: bold;
  }*/

/*bouncing text*/
.bouncing-text {
  position: relative;
  display: flex;
  font-size: 100%;
  font-weight: 900;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; 
}

.sign1, .sign2, .sign3, .sign4, .sign5, .sign6, .sign7, .sign8, .sign9, .sign10 {
  position: relative;
  color: #4cc9f0;
  text-shadow: 0 1px #4361ee, 0 2px #4361ee, 0 3px #4361ee;
}
.sign0 {
  position: relative;font-size:0%;}
.sign1 {
	  z-index:1;
  animation: bounce 1s ease infinite;
  -webkit-animation: bounce 1s ease infinite;
}

.sign2 {
	  z-index:1;
  animation: bounce 1s ease infinite .1s;
  -webkit-animation: bounce 1s ease infinite .1s;
}

.sign3 {
	  z-index:1;
  animation: bounce 1s ease infinite .2s;
  -webkit-animation: bounce 1s ease infinite .2s;
}

.sign4 {
	  z-index:1;
  animation: bounce 1s ease infinite .3s;
  -webkit-animation: bounce 1s ease infinite .3s;
}

.sign5 {
	  z-index:1;
  animation: bounce 1s ease infinite .4s;
  -webkit-animation: bounce 1s ease infinite .4s;
}

.sign6 {
	  z-index:1;
  animation: bounce 1s ease infinite .5s;
  -webkit-animation: bounce 1s ease infinite .5s;
}

.sign7 {
	  z-index:1;
  animation: bounce 1s ease infinite .6s;
  -webkit-animation: bounce 1s ease infinite .6s;
}

.sign8 {
	  z-index:1;
  animation: bounce 1s ease infinite .7s;
  -webkit-animation: bounce 1s ease infinite .7s;
}

.sign9 {
	  z-index:1;
  animation: bounce 1s ease infinite .8s;
  -webkit-animation: bounce 1s ease infinite .8s;
}

.sign10 {
	  z-index:1;
  animation: bounce 1s ease infinite .9s;
  -webkit-animation: bounce 1s ease infinite .9s;
}

/*bouncing publication*/.Psign1, .Psign2, .Psign3, .Psign4, .Psign5, .Psign6, .Psign7, .Psign8, .Psign9 {
  position: relative;
  color: #f56ef3;
  text-shadow: 0 1px #f0415b, 0 2px #f0415b, 0 3px #f0415b;
}
.Psign0 {
  position: relative;font-size:0%;}
.Psign1 {
	  z-index:1;
  animation: bounce 1s ease infinite;
  -webkit-animation: bounce 1s ease infinite;
}
.Psign2 {
	  z-index:1;
  animation: bounce 1s ease infinite .05s;
  -webkit-animation: bounce 1s ease infinite .05s;
}
.Psign3 {
	  z-index:1;
  animation: bounce 1s ease infinite .1s;
  -webkit-animation: bounce 1s ease infinite .1s;
}
.Psign4 {
	  z-index:1;
  animation: bounce 1s ease infinite .15s;
  -webkit-animation: bounce 1s ease infinite .15s;
}
.Psign5 {
	  z-index:1;
  animation: bounce 1s ease infinite .2s;
  -webkit-animation: bounce 1s ease infinite .2s;
}
.Psign6 {
	  z-index:1;
  animation: bounce 1s ease infinite .25s;
  -webkit-animation: bounce 1s ease infinite .25s;
}
.Psign7 {
	  z-index:1;
  animation: bounce 1s ease infinite .3s;
  -webkit-animation: bounce 1s ease infinite .3s;
}
.Psign8 {
	  z-index:1;
  animation: bounce 1s ease infinite .35s;
  -webkit-animation: bounce 1s ease infinite .35s;
}
.Psign9 {
	  z-index:1;
  animation: bounce 1s ease infinite .4s;
  -webkit-animation: bounce 1s ease infinite .4s;
}
/*bouncing publication*/

 @keyframes bounce {
        0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-19px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px); }
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);}
    }

@-webkit-keyframes bounce {
       0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-19px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px);}
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);} 
}
/*boundcing shadow*/
	.bouncing-text:before {
	  content:"";
	  position: absolute;
	  background-color: rgba(0,0,0,0.4);
	  width: 11px;
	  height:2px;
	  border-radius:50%;
	  top:16.6px;
	  z-index:0;
	}
	.bouncing-text:after {
	  content:"";
	  position: absolute;
	  background-color: rgba(0,0,0,0.4);
	  width: 10px;
	  height:2px;
	  border-radius:50%;
	  top:16.6px;
	  z-index:0;
	}

	.shadow {
	  position: absolute;
	  top:16.6px;
	  z-index:0;
	}

	.shadow:before {
	  content:"";
	  position: absolute;
	  background-color: rgba(0,0,0,0.4);
	  width: 12.5px;
	  height:2px;
	  border-radius:50%;
	  top:0;  
	}
/*	.shadow:after {
	  content:"";
	  position: absolute;
	  background-color: rgba(0,0,0,1);
	  width: 9px;
	  height:2px;
	  border-radius:50%;
	  top:0;  
	}*/

	.bouncing-text:before {
	  left:0;
	  animation: scale 1s linear infinite;
	  -webkit-animation: scale 1s linear infinite;
	}

	@keyframes scale {
	  0% {transform: scaleX(1);}
	  25% {transform: scaleX(0.4);}
	  50% {transform: scaleX(1);}
	  75% {transform: scaleX(0.9);}
	  100% {transform: scaleX(1);}
	}

	@-webkit-keyframes scale {
	   0% {transform: scaleX(1);}
	  25% {transform: scaleX(0.4);}
	  50% {transform: scaleX(1);}
	  75% {transform: scaleX(0.9);}
	  100% {transform: scaleX(1);}
	}

	.bouncing-text:after {
	  left: 11px;
	  animation: scale 1s linear infinite .1s;
	  -webkit-animation: scale 1s linear infinite .1s;
	}

	.shadow:before {
	  left: 21px;
	  animation: scale 1s linear infinite .2s;
	  -webkit-animation: scale 1s linear infinite .2s;
	}
	.paper_title {
  font-family: Open Sans; font-weight: bold;}


:target:before {
content:"";
display:block;
height:50px; /* fixed header height*/
margin:-50px 0 0; /* negative fixed header height */
}
/* </style>*/
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

details.description[open] summary::after {
  content: attr(data-open);
}
details.description:not([open]) summary::after {
  content: attr(data-close);
}
.publink:hover{opacity:0.6;}

/* <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
 */
 
.click-zoom input[type=checkbox] {
  display: none;
}

.click-zoom img {
  margin: 0px;
  transition: transform 0.25s ease;
  transform-origin: 100% 0;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(3);
/*	width:90%;*/
  cursor: zoom-out
}