<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- png favicon--> 
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- --> 


/*<style type="text/css">*/
	p.emphtext{
  font-size: 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

<!--
    body {
        margin: 0;
        padding: 0;
-webkit-text-size-adjust:none;
    }
    //-->
	iframe {
	    margin: 0px;
	    padding: 0px;
	    background: white;
	    border: none;
	}
/*</style>

<style type="text/css">*/
  
	:root {
	    --font-color: #ffffff;
	    --bg-color: #000000;
		--lva-color:darkgray;
		--hov-color:dimgray;
		--wing-color:#2e313d;
	  }
	  [data-theme="dark"] {
	    --font-color: #000000;
	    --bg-color: #ffffff;
		--lva-color:dimgray;
		--hov-color:darkgray;
		--wing-color:#EFEFEF;
	  }
	  
  a:link {text-decoration: none; color: var(--lva-color);}
  a:visited {text-decoration: none; color: var(--lva-color); }
  a:active {text-decoration: none;  color: var(--lva-color);}
  a:hover {text-decoration: underline; color: var(--hov-color);}
  body{background-color: var(--wing-color)}
  
/*</style>
<style type="text/css">*/

#title {font-weight:bold; font-size:300%; font-family:Open Sans;  text-align: center;}


/*small screen / light mode setup*/
@media screen and (max-width: 1000px) and (prefers-color-scheme: light){
	body{background: var(--bg-color);
    color: var(--font-color);}
#titlecontent {width:100%; font-family:Open Sans; text-align: center; font-weight: 500; margin: 0; padding: 0;}
#lastcenter {width:100%; text-align:center; margin: 0; padding: 0;}
#center {font-size:10pt; width:90%; background-color:var(--bg-color); font-family:Open Sans; padding-top:5px;padding-right:10px; padding-bottom:5px; padding-left:10px; margin:0 auto; }
}

/*big screen / light mode setup*/		
@media screen and (min-width: 1000px) and (prefers-color-scheme: light){
    body{
      color: var(--font-color);
    }
#center {font-size:10pt; width:900px; background-color:var(--bg-color); font-family:Open Sans; padding-top:5px;padding-right:10px; padding-bottom:5px; padding-left:10px; margin:0 auto; }
}


/*small screen / dark mode setup*/
@media screen and (max-width: 1000px) and (prefers-color-scheme: dark){
	body{background: var(--bg-color);
    color: var(--font-color);}
#titlecontent {width:100%; font-family:Open Sans; text-align: center; font-weight: 500; margin: 0; padding: 0;}
#lastcenter {width:100%; text-align:center; margin: 0; padding: 0;}
#center {font-size:10pt; width:90%; background-color:var(--bg-color); font-family:Open Sans; padding-top:5px;padding-right:10px; padding-bottom:5px; padding-left:10px; margin:0 auto; }
}


/*big screen / dark mode setup*/
@media screen and (min-width: 1000px) and (prefers-color-scheme: dark){
    body{
      color: var(--font-color);
    }
#center {font-size:10pt; width:900px; background-color:var(--bg-color); font-family:Open Sans; padding-top:5px;padding-right:10px; padding-bottom:5px; padding-left:10px; margin:0 auto; }

}
#last {width:100%; text-align:center;}


.cvitemize { font-size:110%; font-weight: bold;}
.cvitem { font-weight: bold; font-family:Open Sans;}
.cvperiod { float:right; font-family:Open Sans; font-style:italic;}
.cvitemcontent { }
/* </style>*/



/* <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
 */
 